@{
    ViewBag.Title = "Login";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<link rel="stylesheet" href="/Content/login.css" />

@*<script type="text/javascript" src="/Scripts/jquery.validate.js"></script>*@
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $.validator.addMethod("strongCheck", function (value) {
            return /^[A-Za-z0-9\d=!\-@@._*]*$/.test(value) // consists of only these
                && /[A-Z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        });

        $("#login-form").validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                },
                Password: {
                    required: true,
                    minlength: 5,
                }
            },
            messages: {
                Email: {
                    required: "Please enter your correct Email",
                    email: "Please enter your correct Email"
                },
                Password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: location.href,
                    type: "POST",
                    data: $(form).serialize(),
                    dataType: "json",
                }).done(function (response) {
                    if (response.ResultCode == "1") {
                        if (response.Message != "")
                            location.href = response.Message;
                        else
                            location.href = "/";
                    }
                    else {
                        alert("[" + response.ResultCode + "] " + response.Message);
                    }
                }).fail(function (response) {
                    alert("[" + response.ResultCode + "] " + response.Message);
                    location.href = location.href;
                });
            }
        });

        $("#register-form").validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/User/IsNotExist",
                        type: "post",
                        data: {
                            email: function () {
                                return $("#txtSignUpEmail").val();
                            }
                        }
                    }
                },
                NickName: {
                    required: true,
                    minlength: 2,
                },
                Password: {
                    required: true,
                    minlength: 5,
                    strongCheck: true
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#txtSignUpPassword"
                }
            },
            messages: {
                Email: {
                    required: "Please enter your correct Email1",
                    email: "Please enter your correct Email1"
                    //remote: ""
                },
                NickName: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                Password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long",
                    strongCheck: "최소한 1자 이상의 대문자와 1개의 숫자가 필요합니다."
                },
                ConfirmPassword: {

                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: "/User/Create",
                    type: "POST",
                    data: $(form).serialize(),
                    success: function (response) {
                        if (response.ResultCode == "1") {
                            alert("회원가입에 성공하였습니다.");
                        }
                        else {
                            alert("[" + response.ResultCode + "] " + response.Message);
                        }

                        location.href = location.href;
                    },
                    error: function (response) {
                        alert("[" + response.ResultCode + "] " + response.Message);
                        location.href = location.href;
                    }
                });
                return false;
            }
        });


    });

</script>


<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>LOGIN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>

            <div class="cont_back_info">
                <div class="cont_img_back_grey">
                    <img src="/Images/loginBack1.jpg" alt="" />
                </div>

            </div>
            <div class="cont_forms">
                <div class="cont_img_back_">
                    <img src="/Images/loginBack1.jpg" alt="" />
                </div>
                <div class="cont_form_login">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <form id="login-form" name="login-form" action="/User/Login" method="post">
                        @Html.AntiForgeryToken()
                        <h2>LOGIN</h2>
                        <input type="email" name="Email" id="txtLoginEmail" tabindex="1" placeholder="E-mail" value="" />
                        <input type="password" name="Password" id="txtLoginPassword" tabindex="2" maxlength="50" placeholder="Password" />
                        <div style="margin-right:120px; margin-top:10px">
                            <input type="checkbox" tabindex="3" class="" name="Remember" id="txtRemember" style="height:20px;width:20px;background-color: #eee;">&nbsp;
                            <label for="txtRemember" style="font-weight:bold; color:#757575"> Remember Me</label>
                        </div>
                        <button class="btn_login">LOGIN</button>
                    </form>
                </div>

                <div class="cont_form_sign_up">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <form id="register-form" action="User/Register" method="post">
                        @Html.AntiForgeryToken()
                        <h2>SIGN UP</h2>
                        <input type="email" name="Email" id="txtSignUpEmail" tabindex="1" class="form-control" maxlength="50" placeholder="Email Address" value="makemeha3@gmail.com">
                        <input type="text" name="NickName" id="txtSignUpNickName" tabindex="1" class="form-control" maxlength="50" placeholder="NickName" value="홍길동">
                        <input type="password" name="Password" id="txtSignUpPassword" tabindex="2" class="form-control" maxlength="50" placeholder="Password" value="Dusqhd1djr!">
                        <input type="password" name="ConfirmPassword" id="txtSignUpConfirmPassword" tabindex="2" class="form-control" maxlength="50" placeholder="Confirm Password" value="Dusqhd1djr!">
                        <button class="btn_sign_up">SIGN UP</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/Scripts/login.js"></script>
<script type="text/javascript">

</script>

